<h1><%= title %></h1>

<h2>Welcome <%= accountData.account_firstname %></h2>
<% if (errors && errors.length > 0) { %>
  <div class="error">
      <% errors.forEach((error) => { %>
          <p><%= error.msg %></p>
      <% }) %>
  </div>
<% } %>

<% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
  <h3>Inventory Management</h3>
  <p><a href="/inv">Go to Inventory Management</a></p>
<% } %>
<!-- <p><%= accountData.account_id %></p> -->
<h3>Account Management</h3>
<!-- Link to update account information -->
<a href="/account/update/<%= accountData.account_id %>">Update Account Information</a>

<h3>Your Reviews</h3>

<% if (reviews && reviews.length > 0) { %>  
    <ul>
        <% reviews.forEach(review => { %>
            <li>
                <p><%= review.review_text %></p>
                <a href="/reviews/edit/<%= review.review_id %>">Edit</a>
                <form action="/reviews/delete/<%= review.review_id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No reviews yet.</p>
<% } %>

