<h1>Update Your Account</h1>

<!-- Display errors or success messages -->
<% if (error) { %>
  <div class="error"><%= error %></div>
<% } %>
<% if (success) { %>
  <div class="success"><%= success %></div>
<% } %>

<!-- Example form to update account information -->
<form action="/account/update" method="POST">
  <label for="firstName">First Name:</label>
  <input type="hidden" name="account_id" value="<%= accountData.account_id %>">
  <input type="text" id="firstName" name="firstName" value="<%= accountData.firstName %>" required />

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" value="<%= accountData.lastName %>" required />

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" value="<%= accountData.email %>" required />

  <button type="submit">Update</button>
</form>


<!-- Change Password Form -->
<h2>Change Password</h2>
<form action="/account/update/password" method="POST">
  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required>
  
  <input type="hidden" name="account_id" value="<%= accountData.id %>">

  <button type="submit">Change Password</button>
</form>
