    <%- vehicleHTML %>
    <h2>Reviews</h2>

    <% if (reviews.length) { %>
        <ul>
            <% reviews.forEach(review => { %>
                <li>
                    <strong><%= review.account_firstname%></strong>: <%= review.review_text %>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No reviews yet. Be the first to add one!</p>
    <% } %>

    <% if (loggedin) { %>
        <form action="/reviews/add" method="POST">
            <label for="review_text" class="review">Review</label>
            <textarea name="review_text" required></textarea>
            <input type="hidden" name="inv_id" value="<%= inv_id %>">
            <input type="hidden" name="account_id" value="<%= accountData.account_id %>">
            <button type="submit">Submit Review</button>
        </form>
    <% } else { %>
        <p><a href="/account/login">Log in</a> to write a review.</p>
    <% } %>

